D2RMng/bin
D2RMng/obj/Debug
.vs/D2RMng/FileContentIndex/fb8c81ea-9b19-4332-9caa-76df33fb0808.vsidx
.vs/D2RMng/FileContentIndex/read.lock
.vs/D2RMng/v17/.suo
.vs/D2RMng/FileContentIndex/4d20c64e-4d75-4221-ab5e-8fa7546ac20f.vsidx
.vs/D2RMng/FileContentIndex/83518a63-0b52-4bd2-a849-0fb55cc81450.vsidx
